body {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    padding: 20px;
    width: 90%;
  }
  #markdown-view {
    background-color: #1e1e1e;
    color: #dcdcdc;
    padding: 15px;
    border-radius: 5px;
    line-height: 1.6;
    white-space: pre-wrap;
    margin-bottom: 20px;
  }
  #file-tree {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #1e1e1e;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  .jstree-default .jstree-anchor {
    color: #ffffff !important;
    text-decoration: none !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;
    transition: background-color 0.3s !important;
  }
  .jstree-default .jstree-anchor:hover {
    background-color: #444 !important;
    color: #ffffff !important;
  }
  .jstree-default .jstree-icon {
    margin-right: 5px !important;
  }
  .last-updated {
    margin-top: 20px;
    font-size: 0.9em;
    color: #888888;
  }
  li.jstree-open > a .jstree-icon {
    background: url("Images/foldero.svg") 0px 0px no-repeat !important;
  }
  li.jstree-closed > a .jstree-icon {
    background: url("Images/folderc.svg") 0px 0px no-repeat !important;
  }
  li.jstree-leaf > a .jstree-icon {
    background: url("Images/file.svg") 0px 0px no-repeat !important;
  }
  li.jstree-leaf > a .jstree-icon.jstree-image {
    background: url("Images/image.svg") 0px 0px no-repeat !important;
  }
  strong {
    color: #ffcd22;
  }
  em {
    color: #8888ff;
    font-style: italic;
  }
  del {
    color: #ff8888;
    text-decoration: line-through;
  }
  img {
    max-width: 85%;
    height: auto;
  }
  